@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
a {
    text-decoration: none;
    color: initial;
}

html {
    scroll-behavior: smooth;
}
p,
h1,
body {
  margin: 0px;
}

body {
  background-color: #0a1930;
  font-family: "Inter";
}

h1 {
  color: #eaf2fd;
  font-size: 50px;
}

.header {
  height: 80px;
  width: 100%;
  padding: 15px 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  height: 100%;
}

.header-nav {
  display: flex;
  list-style: none;
  gap: 24px;
}

.nav-list-item {
  cursor: pointer;
}

.nav-list-item a {
    color: #eaf2fd;
}

.nav-list-item--num {
  color: #94faec;
}

.main-section {
  box-sizing: border-box;
  text-align: start;
  max-width: 70%;
  height: calc(100vh - 80px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-introduction-position {
  margin-top: 8px;
  font-size: 46px;
  color: #8891ae;
  font-weight: 500;
}

.main-introduction-bio {
  color: #8494ab;
  margin-top: 32px;
  max-width: 385px;
  line-height: 22px;
}

.main-introduction {
  color: #94faec;
  font-size: 14px;
  margin-bottom: 16px;
  margin-left: 2px;
}

#get-in-touch-btn {
  background-color: transparent;
  border: 1px solid #94faec;
  padding: 16px 32px;
  margin-top: 32px;
  color: #94faec;
  cursor: pointer;
  align-self: flex-start;
  border-radius: 4px;
}

.section {
  box-sizing: border-box;
  max-width: 70%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: start;
  align-items: center;
  gap: 32px;
}

.section-title {
  color: #94faec;
  font-size: 26px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}

.section-title-span {
  color: #eaf2fd;
  font-size: 32px;
  font-weight: 500;
}

.section-title-num {
  align-self: end;
  line-height: 33px;
  margin-right: 3px;
}

.title-line {
  flex-grow: 1;
  height: 1px;
  background-color: #2b3a51;
  margin-left: 15px;
}

.about-me-text {
  color: #8494ab;
}

.about-me-text a {
  color: #94faec;
  text-decoration: none;
}

.about-section-text {
}

.about-section-img {
  margin-top: 90px;
  margin-left: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about-section-img img {
  width: 100%;
  border-radius: 10px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.image--overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  background-color: #33dbe7;
  z-index: 2;
  opacity: 0.2;
}
